
@import url(https://urdu-fonts.netlify.app/stylesheet.css);
// Reader page
.readerPage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
.readerLayout {
    display: flex;
    flex-direction: row;

    &__contents {
        flex: 1;

        &--vertical 
        {
            overflow-x: auto;
        }
        
        &--singlePage {
            overflow: hidden;
            margin: 0 auto;
        }
    }

    &__nav {
        width: 50px;
        align-self: center;
    }
}

// Reader control

.reader {

    &__vertical {    
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0 auto;

        &--contents {
            max-width: 6in;
            margin: 0 auto;
            text-align: justify;
            text-justify: inter-word;
            user-select: none;
            -webkit-user-select: none;
            text-shadow: 1px 1px 1px whitesmoke, 1px 1px 1px whitesmoke;
        }
    }

    &__singlePage {
        flex: 1;
        overflow: hidden;
        margin: 0 auto;
        width: 6in;
        height: calc(-67px + 100vh);

        &--contents {
            text-align: justify;
            column-count: 1;
            column-gap: 64px;
            column-fill: auto;
            position: relative;
        }
    }
}