.scrollReader {
    
    padding: 10px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    height: calc(-120px + 100vh);
}

.navButton {
    align-self: center; 
    padding: 4px;
}

.header {
    font-size: 150%;
    font-weight: bold;
}
.readerWrapper {
    padding: var(--mantine-spacing-md);
    overflow-y: scroll;
}
.readerContainer {
    text-align: justify;
    max-width: 600px;
    margin: 0 auto;
}